# Referencia: numpy.random.choice

Ejemplo de como reemplazar algunos valores no deseados en una columna de pandas.
La imputación se hace con la misma distribución de los valores correctos:
- se arma una lista con los valores correctos extraídos de la misma columna
- se extrae una muestra aleatoria de esa lista de los valores correctos
- se reemplazan los valores extraños con esa muestra

In [1]:
import pandas as pd
import numpy as np

In [3]:
d = {'col1': ['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'], 
     'col2': [2000000, 23500000, 55000000, 94000000, 200, 32000000, 44000000, 92000000, 500000, 6400000, 45300000,
              21000000, 91200000, 47000000]}
df = pd.DataFrame(data=d)
df

   col1      col2
0     a   2000000
1     a  23500000
2     a  55000000
3     a  94000000
4     a       200
5     a  32000000
6     a  44000000
7     a  92000000
8     a    500000
9     a   6400000
10    b  45300000
11    b  21000000
12    b  91200000
13    b  47000000

In [7]:
values = df.loc[((df["col2"] < 90000000) & (df["col2"] > 1000000)) & (df['col1']=='a')]['col2']
values

0     2000000
1    23500000
2    55000000
5    32000000
6    44000000
9     6400000
Name: col2, dtype: int64

In [10]:
cant = len(df.loc[((df["col2"] > 90000000) | (df["col2"] < 1000000)) & (df['col1']=='a')])
nuevos = np.random.choice(values, cant)
nuevos

array([32000000, 44000000, 23500000, 44000000])

In [11]:
df.loc[((df["col2"] > 90000000) | (df["col2"] < 1000000)) & (df['col1']=='a'), "col2"] = nuevos
df

   col1      col2
0     a   2000000
1     a  23500000
2     a  55000000
3     a  32000000
4     a  44000000
5     a  32000000
6     a  44000000
7     a  23500000
8     a  44000000
9     a   6400000
10    b  45300000
11    b  21000000
12    b  91200000
13    b  47000000